.btns {
    height: 80px;
    font-size:x-large;
    border: none;
    border-radius: 7px;
    width: 20%;
    margin-left: 21px;
}

.calcstyle {
    border: 2px solid black; 
    border-radius: 10px;
    margin-left: 370px; 
    margin-top: 50px; 
    width: 500px; 
    height: 715px;
    background-color: rgb(49, 81, 112);
}

.dropdown-submenu {
    position: relative;
}
  
.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}
  
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

.txtarea {
    float: left;
    margin-left: 20px;
    font-size: xx-large;
    font-style: italic;
}

.eqbtn {
    margin-left: 20px;
    height: 55px;
    width: 70px;
    font-size:x-large;
    border-radius: 10px;
}

.specialbtns {
    height: 80px;
    font-size:x-large;
    border: none;
    border-radius: 7px;
    width: 66%;
    margin-left: 15px;
}

.specialbtn2 {
    height: 80px;
    font-size:x-large;
    border: none;
    border-radius: 7px;
    width: 94%;
    margin-left: 15px;
}